* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 2.6rem;
}

li,
button,
label,
input,
p {
  font-size: 2.4rem;
}

h2 {
  font-size: 4.8rem;
}

h3 {
  font-size: 3rem;
  font-weight: normal;
}

.jumbotron {
  background: rgb(55, 55, 194);
  color: white;
  min-height: 20vh;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center; 
  text-align: center;
}

.form-wrapper {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

section.primary, section.second {
  margin: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}
/*  */
section.second.hide {
  display: none;
}

.form-wrapper label {
  margin: 1rem 0rem;
}

.name-form, .age-form, .date-form {
  padding: 1rem;
}

.name-form {
  width: 60%;
}

.age-form {
  width: 30%;
}

.date-form {
  width: 20%;
}


fieldset {
  padding: 1rem;
  margin: 1rem 0rem;
  width: 20%;
}

fieldset legend {
  font-size: 2rem;
  padding: 1rem;
}

fieldset input {
  margin: 1.6rem;
}

textarea {
  font-size: 3rem;
  padding: .8rem;
  resize: vertical;
}

button.presentation  {
  padding: 2rem 6rem;
  border: none;
  background: rgb(55, 55, 194);
  color: white;
  font-size: 1.8rem;
  cursor: pointer;
  outline: none;
  transition: all 0.3s ease-in-out;
  align-self: flex-end;
  margin: 1.6rem 0;
}

button.presentation:hover {
  background: rgb(44, 44, 150);
}

.result-container {
  padding: 2rem;
  margin: 2rem ;
  background: rgba(55, 55, 194, 0.1);
}

footer {
  min-height: 10vh;
  background: rgba(55, 55, 194, 0.1);;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

@media screen and (max-width: 932px) {
  html {
    font-size: 45%;
  }
  .name-form, .age-form, .date-form , fieldset {
    width: 100%;
  }
}
